<article class="bt bb b--black-10">
    <a class="db pv4 ph3 ph0-l no-underline black">
      <div class="flex flex-column flex-row-ns">
        <div class="pr3-ns mb4 mb0-ns w-100 w-50-ns">
          <img src="{{ .Get "image" }}" class="db" alt="{{ .Get "name" }}">
        </div>
        <div class="w-100 w-60-ns pl3-ns">
          <h1 class="f3 fw1 baskerville mt0 lh-title" style = "text-align: left">{{ .Get "name" }}</h1>
          <p class="f6 f5-l lh-copy"><b>{{ .Get "art" }}</b><br>
          <p class="f6 f5-l lh-copy">Stammwürze: {{ .Get "wuerze" }}</p>
          <p class="f6 f5-l lh-copy"><i>{{ .Get "text" }}</i></p>
          <p><b>Malz: </b>{{ .Get "malz" }}<br>
          <b>Hopfen: </b>{{ .Get "hopfen" }}</p>  
        </div>
      </div>
    </a>
</article>